.downLoadDiv {
  width: 500px;
  height: 300px;
  background: #ffffff;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding-top: 3rem;
  border-radius: 24px;
  margin-block: 1rem;
  box-shadow: 4px 4px 250px 0px #3e45e68c;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.downLoadDiv > button {
  background-color: black;
  color: white;
  font-weight: bold;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  border: none;
  border-radius: 1.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.buttomIcon{
  display: flex;
  width: 100%;
  /* min-height: 50px; */
  justify-content: flex-start;
  align-items: center;
  background: #F7F9FB;
  padding-block:1.5rem;
  border-bottom-left-radius:24px;
  border-bottom-right-radius:24px;
  gap: .5rem;
  padding-inline:1rem;
  /* background-color: red; */

}

.downLoadContainer{
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 600px) {
  .downLoadDiv{
    width: 80vw;
  }
  h2{
    font-size: 1rem;
  }
}