h2 {
  text-align: center;
  font-family: sans-serif;
}

.outerContainer {
  background: #FFFFFF;
  box-shadow: 4px 4px 250px 0px #3E45E68C;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 550px;
  padding-block:3rem;
  border-radius: 3rem;
  margin-inline: auto;
  margin-block:3rem;
}

.dropBoxText {
  font-family: sans-serif;
  color: #636465;
  font-size: 1.5rem;
  width: 50%;
  text-align: center;
}

.fileUploadDiv {
  padding: "20px";
  text-align: "center";
  /* background-color: red; */
  border: 1px dashed black;
  border-radius: 3rem;
  width: 500px;
  height: 300px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  margin-inline: auto;
  margin: 1rem;
  padding-block: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 1.5rem;
  background-color: black;
  color: white;
  padding-inline: 2.5rem;
  font-weight: bold;
}

#fileInput {
  display: none;
}

#dismissBtn{
    margin-block:1rem;
    float: right;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 1.5rem;
    padding-inline:1.5rem;
    border: none;
    padding-block:.25rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.modal-header{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    border-bottom: none;
}
.modal-header > p{
   font-size: small;
}
.modal-footer{
    background-color: #F7F9FB;
    display: flex;
    justify-content: flex-start;
}

.clickBtn {
  border: none;
  background-color: inherit;
  font-size: 1.5rem;
  color: blue;
  font-family: sans-serif;
  padding: 0%;
}

.clickBtn:hover {
  cursor: pointer;
}

.crossBtn{
  border: none;
  background-color: inherit;
  transform: scale(1.5) translateX(20%) translateY(-20%);
  border-radius: 50%;
  background-color: black;
  width : 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .outerContainer{
    width: 80vw;
  }
  .fileUploadDiv{
    width: 70vw;
  }
  .dropBoxText{
    font-size: 1rem;
  }
}