.topPart {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-block: 3rem;
}

.topPart h1 {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 900;
  line-height: 75px;
  letter-spacing: -0.055em;
  text-align: center;
  color: white;
  width: 60%;
  text-align: center;
}

.topPart h1 span {
  color: #4147e0;
}

.topPart p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;
  color: #cecece;
  width: 60vw;
}

.bottomPart {
  display: flex;
  gap: 3rem;
}

.bottomPartLeft {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-left: 1rem;
  /* border: 1px solid wheat; */
}
.bottomPartRight {
  flex: 1;
  /* border: 1px solid wheat; */
  display: flex;
  gap: 3rem;
  margin-right: 1rem;
}
.leftOne {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}
.leftOne label {
  color: white;
  margin: 0.5rem;
}
.leftOne input {
  background-color: inherit;
  height: 50px;
  border: .5px solid #BEC5D1;
}
.selectOptions{
  background-color: red;
  height: 50px;
}
.inputDropDown {
  height: 50px;
}
.inputDropDown select {
  background-color: inherit;
}
.rightOne {
  flex: 1;
  align-self: flex-end;
  margin-bottom: 3rem;
}

.rightOne button {
  /* width: 218px; */
  height: 52px;
  padding-inline:1rem;
  border-radius: 12px;
  background: linear-gradient(100.85deg, #3A41F0 41.96%, #161B92 88.87%);
  border: none;
  color: white;
}

.rightOne button img{
  padding-left:1rem;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-selected-option {
  /* flex: 1; */
  width: 100%;
  height: 50px;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: inherit;
  color: white;
  justify-content: space-between;
  margin-bottom: .5rem;
  border: .5px solid #BEC5D1;
}

.custom-options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: black;
  border: .5px solid #BEC5D1;
  color: white;
  width: 100%;
  border-radius: .5rem;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  margin-block:.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.custom-option {
  padding: 12px 16px;
  cursor: pointer;
  border: .5px solid #BEC5D1;
}

.custom-option:hover {
  background-color: inherit;
}

.custom-options.show {
  display: block;
}


@media (max-width:800px)
{ 
  .topPart{
    padding-block:1.5rem;
  }
   .topPart h1{
     font-size : 2rem;
     line-height: 40px;
     width: 90%;
   }
   .topPart p{
    font-size: .95rem;
    line-height:26px;
    width:85%;
    padding-block:1rem;
   }
   .bottomPart{
     flex-direction : column;
   }
   .bottomPartLeft{
     justify-content : center;
   }
   .bottomPartRight{
    flex-direction : column;
    justify-content : center;
    width : 60vw;
    align-items:center;
    align-self : center;
   }
   .leftOne{
     width:100%;
   }
   .rightOne{
    align-self:center;
   }
}